a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html{
  font-family: AvageNerdMono;
}

@font-face {
  font-family: 'AvageNerdMono';
  src: url('../font/agave\ regular\ Nerd\ Font\ Complete\ Mono.ttf');
}